# Auto deC:\Users\slip mahone\Documents\GitHub\INSTALL\.gitattributestect text files and perform LF normalization
* text=autoC:\Users\slip mahone\Desktop\Documents\newiso\openSUSE-Leap-42.3-DVD-x86_64.iso (1).meta4
* text=autoC:\Users\slip mahone\Desktop\Documents\newiso\openSUSE-Leap-42.3-DVD-x86_64.iso (1).meta4
C:\Users\slip mahone\Desktop\Documents\newiso\openSUSE-Leap-42.3-DVD-x86_64.iso (1).meta4C:\Users\slip mahone\Documents\GitHub\INSTALL\.gitattributes